<div >
    
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-striped">
                <thead>

                    <th *ngFor="let header of mappedheaders.length; let i = index">
                        {{header.mappedHeader}}
                    </th>
                </thead>
                <tbody>
                    <tr *ngFor="let data of fileData.length; let i = index">
                        <td></td>
                        
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>
</div>